ulicms/content/files
ulicms/content/flash
ulicms/content/avatars
ulicms/content/cache
ulicms/backup
ulicms/content/log
!ulicms/content/log/.htaccess
ulicms/templates
!ulicms/templates/default
!ulicms/templates/monday