html{
overflow-y:scroll;
background-image:url(images/296-1220234856bCf3.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
font-family:Avantgarde;
font-size:14pt;
}

textarea{
width:270px;
height:150px;
background-color:#ffbb8e;
border:1px red solid;
}


input[type=text]:focus,
input[type=password]:focus,
textarea:focus{
background-color:#c5ffc4;
}

input[type=text],
input[type=password],
select{
width:270px;
background-color:#ffbb8e;
border:1px red solid;
}


input[type=submit], 
input[type=button],
input[type=reset]{
font-size:14pt;
background-color:#bababa;
color:#00000;
border:1px red solid;
}


input[type=submit]:hover, 
input[type=button]:hover, 
input[type=reset]:hover{
background-color:#cbcbcb;
font-size:14pt;
color:#00000;
}



#footer{
background-color:rgb(0,0, 0);
width:1000px;
color:rgb(100,100,100);
text-align:center;
padding-top:30px;
padding-bottom:30px;
}


#nav_bottom ul li{
list-style-type:none;
}


#nav_bottom ul li a, #nav_bottom ul li a:visited{
color:black;
font-weight:bold;
}

#nav_bottom ul li a:hover{
color:orange;
}



#nav_bottom{
margin:auto;
background-color:#d88400;
width:1000px;
color:rgb(100,100,100);
text-align:center;
padding-top:20px;
padding-bottom:20px;
}

img{
border:0px;
}

#nav_top ul li {
list-style-type:none;
float:left;
margin-right:10px;
border-right:1px solid black;
padding:10px 10px 10px 0px;
height:30px;
}

#nav_top ul li:last-child {
border-right:0px none;
}

.menu_active_link{
color:red !important;
}

h1, h2, h3, h4, h5, h6{
color:green;
font-family:arial;
border-bottom:1px black solid;
}

#nav_top ul li a, #nav_top ul li a:visited{
color:black;
text-decoration:none;
font-size:18pt;
font-weight:bold;
}

#nav_top ul li a:hover{
color:white;
text-decoration:none;
font-weight:bold;
}

a, a:visited{
color:rgb(255,255,0);
text-decoration:none;
}

a:hover{
color:rgb(255, 100,0);
text-decoration:none;
}

#nav_left ul li{
list-style-type:none;
font-size:14pt;
color:white;
font-size:18pt;
}

#nav_left{
height:200p;
padding:10px;
}




pre {
        border:1px dashed #E1E1E1;
        color:#333344;
        background:#FAFAFA;
        font-family:monospace;
        overflow:auto;
        font-size:11px;
        padding:0.5em;
}

.homepage_title{
margin-top:20px;
background-color:black;
color:white;
font-size:13pt;
padding:5px;
}

#nav_left ul{
margin: 0;
padding: 0;
}

#nav_left{
border-right:1px black solid;
margin-right:30px;
}




#nav_left ul li a:hover{
color:green;
}




#nav_left ul li > a, #nav_left ul li > a:visited{
text-decoration:none;
font-size:16pt;
color:black;
text-decoration:underline;
display:block;
text-align:left;
font-weight:bold;
}


#nav_left ul li a:hover{
color:green !important;
}


#nav_left ul li ul li a, #nav_left ul li ul li a:visited{
text-decoration:none;
font-size:15pt;
color:black;
display:block;
text-align:left;
}






.clear{
clear:both;
}

#nav_top ul li:first-child{
margin-left:-30px;
}

#nav_top ul{
width:96%;
margin-top:-5.8px;
background-color:#d88400;
height:50px;

}

#root_container{
margin:auto;
background-color:rgba(255,255,255, 0.77);
margin-top:-9px;
width:1000px;
}

#header_image{
width:100%;
}

#nav_left{
float:left;
width:30%;
}

#content{
width:620px;
float:right;
margin-top:-20px;
padding-right:10px;
}
