/**
 * GHKit Anpassungen
 */

/* Login Formular */
.login-block {
  padding: 50px 30px;
}
.login-block-inline {
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
}

/* Sidebar */
.sidebar li a i {
  text-align: center;
  width: 14px;
  font-size: 14px;
  margin-right: 3px;
}
.sidebar .nav-second-level li {
  background-color: #fff;
}
.sidebar-nav a.active {
  background-color: #fff;
} 
.sidebar-nav a.active {
  border-right: 2px solid #337ab7;
  background-color: #eee;
}

/* Header */
h1, h2, h3, h4, h1 small, h2 small, h3 small, h4 small {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
}
h1.page-header {
  margin: 10px 0 50px;
  border-color: #cccccc;
}

/* overwrites */
#page-wrapper {
  padding: 0;
  background-color: #f6f6f6;
}
.navbar-default {
  background-color: #ffffff;
}
.well {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  box-shadow: none;
}
.well h3 {
  margin: 0 0 20px;
  padding: 0;
}
.form-control {
  font-family:'Courier New', Arial;
  /* background-color: #474544; */
  /* border-color: #3A3633; */
  /* color: #fff; */
}
label {
  color: #666;
  font-weight: 700;
}
.modal-header h4 {
  font-weight: 400;
}
small {
  color: #666;
}

/* flot */
.chart-info {
  background-color: #5BC0DE;
  background-image: -moz-linear-gradient(center top,#5BC0DE 45%,#4DA3BD 102%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5BC0DE),to(#4DA3BD));
  background-image: -webkit-linear-gradient(top,#5BC0DE,#4DA3BD);
  background-image: -o-linear-gradient(top,#5BC0DE,#4DA3BD);
  background-image: linear-gradient(to bottom,#5BC0DE,#4DA3BD);
  border: 1px solid #4DA3BD;
  padding: 20px !important;
}
.chart-warning {
  background-color: #F0AD4E;
  background-image: -moz-linear-gradient(center top,#F0AD4E 45%,#CC9342 102%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F0AD4E),to(#CC9342));
  background-image: -webkit-linear-gradient(top,#F0AD4E,#CC9342);
  background-image: -o-linear-gradient(top,#F0AD4E,#CC9342);
  background-image: linear-gradient(to bottom,#F0AD4E,#CC9342);
  border: 1px solid #CC9342;
  padding: 20px !important;
}
.chart-info .flot-text,
.chart-warning .flot-text {
  color: #FFF !important;
}
/*
.blue-chart .flot-text,
.red-chart .flot-text {
  color: #FFF !important;
}
.blue-chart {
  background-color: #52AEFF;
  background-image: -moz-linear-gradient(center top,#52AEFF 45%,#2180D3 102%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#52AEFF),to(#2180D3));
  background-image: -webkit-linear-gradient(top,#52AEFF,#2180D3);
  background-image: -o-linear-gradient(top,#52AEFF,#2180D3);
  background-image: linear-gradient(to bottom,#52AEFF,#2180D3);
  border-left: 1px solid #258fec;
  border-right: 1px solid #258fec;
  border-bottom: 1px solid #1e73bd;
  border-top: 1px solid #499de5;
  padding: 20px !important;
}
.red-chart {
  background-color: #AA3333;
  background-image: -moz-linear-gradient(center top,#AA3333 45%,#AA0000 102%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#AA3333),to(#AA0000));
  background-image: -webkit-linear-gradient(top,#AA3333,#AA0000);
  background-image: -o-linear-gradient(top,#AA3333,#AA0000);
  background-image: linear-gradient(to bottom,#AA3333,#AA0000);
  border-left: 1px solid #AA0000;
  border-right: 1px solid #AA0000;
  border-bottom: 1px solid #AA0000;
  border-top: 1px solid #AA0000;
  padding: 20px !important;
}
.orange-chart {
  background-color: #3290e2;
  background-image: linear-gradient(to bottom,#ff8a65 45%,#e26a45 102%);
  border-color: #ee815e #f27b56 #d66543;
  border-left: 1px solid #f27b56;
  border-right: 1px solid #f27b56;
  border-style: solid;
  border-width: 1px;
}
*/

/* data tables */
.table.dataTable {
  width: 100% !important;
}
form.contentmanager_sites .search,
form.contentmanager_sites .pagination,
form.contentmanager_modules .search,
form.contentmanager_modules .pagination {
  float: right;
}
form.contentmanager_modules .search,
form.contentmanager_sites .search {
}
.contentmanager_sites_filter {
  float: right;
  padding-top: 10px !important;
}
.dataTables_info {
  padding-bottom: 10px;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
     to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
     to { opacity: 1; }
}
form.contentmanager_sites #deleteall,
form.contentmanager_modules #deleteall {
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* messages */
.ok-message,
.warning-message,
.error-message,
.notice-message,
.info-message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ok-message {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.warning-message,
.notice-message {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.info-message {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}


.red {
  color: #a94442;
  font-weight: 600;
}
.green {
  color: #3c763d;
  font-weight: 600;
}


/* phpinfo tabelle */
div.phpinfotable table {
  width: 100%;
}
div.phpinfotable  td.v {
  width: 50%;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word;  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
div.phpinfotable tr td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
div.phpinfotable tr.h td {
  background-color: #FFF;
  border-top: none !important;
  padding-top: 20px;
}
div.phpinfotable tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

span.lizenzinfo {
  display: block;
  margin-bottom: 20px;
}

/* Template Informationstablle */
table.table-thin tr td {
  padding-top: 4px;
  padding-bottom: 4px;
}

table.table-params tr td {
  width: auto !important;
}
table.table-params tr td:nth-child(2) {
  white-space: nowrap;;
}
table.table-params tr th h3,
table.table-params tr th p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
}
table.table-params tr th {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #DDD !important;
  border-top: 30px solid #FFF;
  border-bottom: 30px solid #FFF;
}
