#header {
	padding-top: 10px;
	padding-bottom: 20px;
	border:1px solid #b7b7b7;
	border-top:none;
}

#my-container{
	border:1px solid #b7b7b7;
	border-top:none;
}

#navigation{
	padding-top:20px;
}

a.current-item{
  font-weight:bold;
}
