#header {
	padding-top: 10px;
	border:1px solid #b7b7b7;
	border-top:none;
}

#my-container{
	border:1px solid #b7b7b7;
	border-top:none;
}

#navigation{
	padding-top:20px;
}

a.current-item{
  font-weight:bold;
}


#footer{
	margin-top:10px;
	text-align:center;
}
