body {
	font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma",
		"Verdana", "Arial", "sans-serif";
	background-color: rgb(246, 245, 250);
	font-size: 15px;
}

#header {
	padding-top: 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	background-color: #60a8bd;
}

#main {
	padding-bottom: 30px;
	word-break: break-word;
}

#my-container {
	border: 1px solid #b7b7b7;
	border-top: none;
}

#navigation {
	padding-top: 30px;
	padding-bottom: 30px;
}

a.current-item {
	font-weight: bold;
}

#footer {
	margin-top: 10px;
	text-align: center;
}

#my-container {
	background-color: white;
}

#navigation li {
	margin-bottom: 5px;
}

select {
	width: 100%;
}



#loading, #error-message {
	display: none;
	margin-top:20px;
}