   body{
      font-size:x-large;    
    }
    
    
    .menu {
        font-size:xx-large;
    }

    .menu li, .menu li ul li{
     margin:14px;    
    }
    
input[type="checkbox"],
input[type="radio"]{
zoom:3;
}

input[]

#pbody table{
display:block;
overflow:auto;
}

div#root-container{
width:95%;
}


input[type="button"], 
input[type="submit"], button{
padding:20px;
width:100%;
}

#pbody table thead th.header{
padding-right:30px !important;
}

#pbody table thead th{
white-space: nowrap;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="phone"], 
input[type="color"],
input.color,
select,
textarea{
font-size:x-large;
}    

a{
font-size:120% !important;
}

#pbody table tbody tr td a img{
width:2.0em;
}

p{
line-height:1.8em !important;
margin-bottom:1.3em;
}

    
.accordion-header{
padding:20px !important;
font-size:xx-large !important;
}