$default-horizontal-spacing: 15px;
$default-vertical-spacing: 10px;

html {
    overflow: hidden;
}

body {
    div.root {
        position: relative;

        header.header {
            .hamburger {
                display: inline-block;
                float: left;

                margin: $default-vertical-spacing $default-horizontal-spacing;

                padding: 0;
                transition: opacity .3s;

                &:hover {
                    cursor: pointer;
                    opacity: .5;
                }

                .line{
                    width: 50px;
                    height: 5px;
                    margin: 8px auto;
                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;
                }

                &.isactive {
                    .line {
                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(1) {
                            transform: translateY(13px) rotate(45deg);
                        }

                        &:nth-child(3) {
                            transform: translateY(-13px) rotate(-45deg);
                        }
                    }
                }
            }

            span.headline {
                display: flex;
                align-items: center;
                
                h1 {
                    display: inline-block;
                    max-width: calc(100% - 100px);
                    overflow: hidden;
                    margin: 16px 10px;
                    white-space: nowrap;
                    height: 1em;
                    text-overflow: ellipsis;
                    line-height: 1em;
                    vertical-align: middle;
                }
            }



            nav.navbar {
                display: none;
                background: #333;
                width: 100%;
                display: none;

                transition: all 2s ease-in-out;

                ul {
                    overflow: hidden;
                    list-style-type: none;


                    margin: 0;
                    padding: 0;

                    &.sub_menu {
                        display: none;
                    }

                    li {
                        display: block;
                        margin: 0;
                        width: 100%;

                        &:hover {
                            cursor: pointer;

                            cursor: pointer;
                            background-color: #ce3939;
                            letter-spacing: 10px;
                        }

                        a {
                            color: #d3e3e3;
                            text-decoration: none;
                            font-family: 'Raleway', sans-serif;
                            font-size: 1.6em;
                            transition: all .5s;

                            width: 100%;
                            display: block;

                            padding: $default-horizontal-spacing;
                        }
                    }
                }


                &.active {
                    display: block;
                    animation: fade .5s;
                }
            }
        }

        main, nav.navbar.active {
            padding: $default-vertical-spacing $default-horizontal-spacing;
            height: calc(100vh - 75px);
            width: 100%;
            overflow: auto;
        }

        main {
            article {
                margin-top: $default-vertical-spacing;
                line-height: 1.5em;

            }
        }
    }
}

@keyframes fade {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
