body {
    padding-top: 28px !important;
}

div.navbar_top{
margin-top:-28px;
height:28px;

    background:#d1d8d0;
}

/** alle ULs */ 
ul.menu { 
  margin: 0; 
  padding: 0; 
  list-style: none; 
  z-index:992;
  
} 

ul.menu > li{
    position: relative;
    background:#d1d8d0;
}


/** ULs ab Level 2 */ 
ul.menu ul { 
   position: absolute;
    left: -999em; /** verstecken */ 

} 

/** ULs ab Level 3 */ 
ul.menu ul ul { 
  top: 80px; 
} 

/** Kind UL von gehoverten LIs */ 
.navbar_top li:hover > ul { 
  left: auto; 
margin-left:-40px;
} 

/** Kind UL von gehoverten LIs ab Level 2 */ 
.navbar_top li li:hover > ul { 
  left: 100%; 
} 

/** alle LIs */ 
.navbar_top li { 
  float: left; 
} 


/** alle LIs ab Level 2 */ 
.navbar_top li li { 
float: none; 
background-color:#1a5009;
list-style-type:none;
} 

/** alle As */ 
.navbar_top a { 
  display: block; 
  padding: .5em 1em; 
  background: #b1b8b0; 
} 

/** As ab Level 2 */ 
.navbar_top li li a { 
  background: #d1d8d0; 
} 

/** As ab Level 3 */ 
.navbar_top li li li a { 
  background: #d1d8d0; 
  float: none;
  margin-left:-3px;
} 