<phpunit
    bootstrap="./init.php"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    cacheResult="false"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="false">
    <php>
        <env name="ULICMS_ENVIRONMENT" value="test" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests/</directory>
            <exclude>./vendor/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>vendor/</directory>
            </exclude>
            <exclude>
                <directory>installer.aus/</directory>
            </exclude>
            <exclude>
                <directory>lang/</directory>
            </exclude>
            <exclude>
                <directory>classes/objects/exceptions.php</directory>
            </exclude>
            <exclude>
                <!-- Damn PHPUnit has no support for wildcards. -->
                <directory>content/modules/core_comments/lang</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_forms/lang</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_settings/lang</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_help/lang</directory>
            </exclude>
            <exclude>
                <directory>tests/</directory>
            </exclude>
            <exclude>
                <directory>shell</directory>
            </exclude>
            <exclude>
                <directory>admin/kcfinder/</directory>
            </exclude>

            <exclude>
                <directory>admin/inc</directory>
            </exclude>
            <exclude>
                <directory>content/modules/Mobile_Detect</directory>
            </exclude>
            <exclude>
                <directory>content/configurations/</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_comments/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_content/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_content/lang</directory>
            </exclude>
            <exclude>

                <directory>content/modules/core_package_manager/lang</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_package_manager/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_info/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_settings/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_system_update/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_users/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_users/lang</directory>
            </exclude>

            <exclude>
                <directory>content/modules/update_manager</directory>
            </exclude>
            <exclude>
                <directory>content/modules/update_manager_dashboard</directory>
            </exclude>
            <exclude>
                <directory>content/modules/extend_upgrade_helper</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_package_manager/templates</directory>
            </exclude>

            <exclude>
                <directory>content/modules/core_history/3rdparty</directory>
            </exclude>
            <exclude>
                <directory>content/modules/fortune2</directory>
            </exclude>
            <exclude>
                <directory>content/modules/oneclick_upgrade</directory>
            </exclude>
            <exclude>
                <directory>content/modules/slicknav/</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_home/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_history/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_media/templates</directory>
            </exclude>
            <exclude>
                <directory>content/templates/impro17</directory>
            </exclude>
            <exclude>
                <directory>content/templates/2020</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_forms/templates</directory>
            </exclude>
            <exclude>
                <directory>content/modules/core_help/templates</directory>
            </exclude>
            <exclude>
                <directory>default</directory>
            </exclude>
            <exclude>
                <file>index.php</file>
            </exclude>
            <exclude>
                <file>lib/CMSConfigSample.php</file>
            </exclude>
            <exclude>
                <file>CMSConfig.php</file>
            </exclude>
            <exclude>
                <file>admin/index.php</file>
            </exclude>
            <exclude>
                <file>admin/backend.php</file>
            </exclude>
            <exclude>
                <file>frontend.php</file>
            </exclude>
            <exclude>
                <file>init.php</file>
            </exclude>
            <exclude>
                <file>update.php</file>
            </exclude>
            <exclude>
                <file>admin.php</file>
            </exclude>
            <exclude>
                <file>admin/inc/getlinksforeditor.php</file>
            </exclude>
            <exclude>
                <file>admin/inc/header.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
