body{
margin:0px;
padding:0px;
}

html{
}


#footer{
clear:both;
padding-top:10px;
margin-bottom:5px;
padding-left:5px;
}

#header{
background-color:black;
color:white;
padding-top:20px;
}



#footer ul.menu_bottom{
float:right;
list-style-type:none;
display:block;
margin-right:10px;
margin-top:-2px;
position:fixed;
bottom:10px;
right:0px;
}

#footer ul.menu_bottom li{
float:left;
margin-right:10px;
}

#header h1, #header h2, #header img{
padding-left:20px;
}

#menu-left-container{
padding-left:15px;
}


a, a:visited{
color:#7f8791;
text-decoration:none;
font-size:1.1em;
}

a:hover{
color:#000000;
font-decoration:none;
}



.blog_pagination_older{
float:right;
padding-right:5px;
}


img{
border:0px:
}

#header hr{
color:red;
}

ul.language_selection{
display:block;
height:40px;
list-style-type:none;
border-bottom:1px solid black;
margin-bottom:0px;
}

ul.language_selection li{
float:left;
margin-right:30px;
}

#menu-left-container{
line-height:1.3em;
float:left;
border-right:black solid 1px;
padding-right:5px;
min-height:500px;
margin-right:10px;
}

#menu-left-container ul{
list-style-type:square;
}

div#content{
margin-right:0px;
font-size:1.1em;
}

div#footer{
border-top:1px solid black;

}

div#footer p{
color:blue;
display:block;
position:fixed;
bottom:10px;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";