
html, body { padding:0; margin:0;}


#footer{
clear:both;
padding-top:10px;
margin-bottom:15px;
padding-left:5px;
margin-top:30px;
height:30px;
}

#header{
background-color:black;
color:white;
padding-top:20px;
}



#footer ul.menu_bottom{
float:right;
list-style-type:none;
display:block;
margin-right:0px;
margin-top:-2px;
}

#footer ul.menu_bottom li{
float:right;
margin-right:10px;
}

#header h1, #header h2, #header img{
padding-left:20px;
}

#menu-left-container{
padding-left:15px;
width:30%;
line-height:1.3em;
float:left;
padding-right:5px;
min-height:500px;
margin-right:10px;
}


a, a:visited{
color:#7f8791;
text-decoration:none;
font-size:1.1em;
}

a:hover{
color:#000000;
font-decoration:none;
}



.blog_pagination_older{
float:right;
padding-right:10px;
}


img{
border:0px:
}

#header hr{
color:red;
}

ul.language_selection{
display:block;
height:40px;
list-style-type:none;
border-bottom:1px solid #d5d5d5;
}

ul.language_selection li{
float:left;
margin-right:30px;
}


#menu-left-container ul{
list-style-type:square;
margin-top:0px;
}

#menu-left-container ul li{
margin-top:2px;
}

div#content{
font-size:1.1em;
width:65%;
margin-left:34%;
border-left:#d5d5d5 solid 1px;
padding-left:10px;
}





#footer #copyright{
width:50%;
float:left;
padding-left:15px;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";