body {
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma",
        "Verdana", "Arial", "sans-serif";
    background-color: rgb(246, 245, 250);
    font-size: 15px;
}

#license, progress {
    width: 100%;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

#header {
    padding-top: 10px;
    border: 1px solid #b7b7b7;
    border-top: none;
    background-color: #60a8bd;
}

#main {
    padding-bottom: 30px;
    word-wrap: break-word
}

#my-container {
    border: 1px solid #b7b7b7;
    border-top: none;
}

#navigation {
    padding-top: 30px;
    padding-bottom: 30px;
}

a.current-item {
    font-weight: bold;
}

#footer {
    margin-top: 10px;
    text-align: center;
}

#my-container {
    background-color: white;
}

#navigation li {
    margin-bottom: 5px;
}

select, input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
}

#loading, #error-message {
    display: none;
    margin-top: 20px;
}

kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.progress,
.badge,
.jumbotron,
.thumbnail,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.alert,
.paginate_button,
*[class^="select2"]
{
    border-radius: 0 !important;
}
