@import 'design_variables';

$default-vertical-margin: 10px;
$box-shadow-color: #545454;

html{
    letter-spacing: 0.02rem;
}

body{
    font-family: $default-font;
    font-size: $font-size;
    background-color: $body-background-color;
    color: $body-text-color;
    line-height: 1.5em;
    -webkit-overflow-scrolling: touch;
}

.onepage-pagination{
    right: 1%;
}

@-webkit-keyframes move-right-to-left {
    100% {
        margin-left: 0;
    }
}

@keyframes move-right-to-left{
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes move-up {
    100% {
        left: 0;
    }
}

@keyframes move-up{
    100% {
        left: 0;
    }
}

@-webkit-keyframes logo-zoom {
    100% {
        transform: scale(1.0);
    }
}

@keyframes logo-zoom {
    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes image-zoom {
    100% {
        transform: scale(1.005);
    }
}

@keyframes image-zoom {
    100% {
        transform: scale(1.020);
    }
}

@-webkit-keyframes color-to-yellow {
    100% {
        color: yellow;
    }
}

@keyframes  color-to-yellow {
    100% {
        color: yellow;
    }
}

@-webkit-keyframes text-fade-in{
    100% {
        opacity: 1;
    }
}

@keyframes text-fade-in {
    100% {
        opacity: 1;
    }
}

.onepage-wrapper, .main{
    .has-box-shadow{
        -webkit-box-shadow: 3px 4px 15px 5px $box-shadow-color;
        box-shadow: 3px 4px 15px 5px $box-shadow-color;
    }

    .slide-in{
        -webkit-animation:  color-to-yellow 0.5s forwards;
        animation:  color-to-yellow 0.5s forwards;
    }

    a, a:visited, a:active{
        color: yellow;
        text-decoration: none;
        border: 2px solid transparent;
        padding: 2px;

        &:hover{
            border: yellow 2px solid;
        }

        &.button{
            margin-top: 10px;
            text-decoration: none;
            color: white;
            background-color: #28a745;
            display: inline-block;
            padding: 10px;
            font-size: 1.1em;
            text-align: center;
            margin-left: 100vw;
            text-transform: uppercase;
            -webkit-animation: move-right-to-left 0.6s forwards;
            animation: move-right-to-left 0.6s forwards;
            animation-delay: 3s;
            -webkit-animation-delay: 3s;
            border: 2px solid #499649;
            &:hover{
                border: 2px solid $box-shadow-color;
            }
        }
    }

    a:hover{
        img{
            -webkit-animation: image-zoom 0.5s forwards;
            animation: image-zoom 0.5s forwards;
        }
    }

}
/* Hide fullscreen Page Rows Navigation Dots on Mobile  */
@media only screen and (max-width: 1023px) {
    div#fp-nav {
        display:none !important;
    }
}

.section{
    padding: 10px;
    word-wrap: break-word;
    line-height: 1.4em;
    .text-content{
        position: relative;
        top: 10px;
        left: -100vw;

        &.move-up{
            -webkit-animation: move-up 0.2s forwards;
            animation: move-up 0.2s forwards;
        }
    }
	
    &.bgcolor1{
        background-color: #E4B0A2;
    }
	
    &.bgcolor2{
        background-color: #ADD6D8;
    }
	
    &.bgcolor3{
        background-color: #583843;
        color: white;
    }
	
    &.bgcolor4{
        background-color: #F7C8C6;
    }
	
    &.bgcolor5{
        background-color: #96D3BD;
    }

}

audio, video, iframe, p{
	margin-top: 10px;
	margin-bottom: 10px;
}
footer{
    position: absolute;
    top: calc(100vh - 6vh);
    left: 2%;
    width: 88vw;
    height: auto;

    font-size: 0.7em;
    display:none;

    p{
        margin: 0;
    }
}


h1, h2, h3, h4, h5, h6{
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(100, 100, 100);
    letter-spacing: 0.1rem;
}

strong{
    font-weight:bolder;
    text-transform: uppercase;
}

.start-page{
    background-color: $header-background-color;
    #frontpage-photo{
        margin-top: 25px;
        opacity: 0;

        -webkit-animation:  text-fade-in 2s forwards;
        animation: text-fade-in 2s forwards;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        img{
            max-height: 40vh;
            border: 1px solid #499649;
            @extend .has-box-shadow;
        }
    }
    .website_logo{
        max-width: 92%;

        transform: scale(0.1);
        -webkit-animation: logo-zoom 1s forwards;
        animation: logo-zoom 1s forwards;

    }

    .advertisement{
        position: absolute;
        top: 92vh;
        left: 2%;
        max-width: 94vw;
        max-height: 8vh;

        a:hover{
            border: 2px solid transparent;

        }
    }
}

h1{
    font-size: 2.0em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1.4em;
}

h5{
    font-size: 1.2em;
}

h6{
    font-size: 1.1em;
}

code {
    background-color: white;
    display: block;
    padding: 20px;
    border: 1px dotted blue;
    font-size: 0.7em;
    word-wrap: break-word;
    font-family: Pragmata, Menlo, "DejaVu LGC Sans Mono", "DejaVu Sans Mono",
        Consolas, "Everson Mono", "Lucida Console", "Andale Mono", "Nimbus Mono L",
        "Liberation Mono", FreeMono, "Osaka Monospaced", Courier, "New Courier",
        monospace;
}

blockquote {
    background: #f9f9f9;
    border-left: $default-vertical-margin solid #ccc;
    margin: 1em 0;
    max-width: 85vw;
    padding: 0.5em $default-vertical-margin;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    &.text-fade-in{
        opacity: 0;
        -webkit-animation:  text-fade-in 2s forwards;
        animation: text-fade-in 2s forwards;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        border: 1px solid #499649;
    }
}



blockquote p {
    display: inline;
}
